<!DOCTYPE html>
<meta charset="utf-8">
<html>
    <title>Visualization Tool for Data Classification</title>
    <head>
        <script src="static/js/vendor/jquery.js"></script>
        <script src="static/js/vendor/d3/d3.min.js"  charset="utf-8"></script>
        <script src="static/js/utils.js"></script>
        <script src="static/js/scatter_matrix.js"></script>
        <script src="static/js/legends.js"></script>
        <script src="static/js/filter.js"></script>
        <script src="static/js/zoom.js"></script>
        <script src="static/js/auto_filter.js"></script>
        <script src="static/js/star_plot.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" type="text/css" href="static/css/vendor/button_style.css">
    </head>
    <body>
        <div id="title">
            <p>Visualization Tool for Data Classification</p>
        </div>
        <div id="menu">
            <div style="float: left; width: 160px;">
            <fieldset>
            <legend><h3>Classes:</h3></legend>
                <div style="overflow-y: auto;overflow-x: hidden;height: 160px; width: 140px;">
                    <svg id="chart-legends"></svg>
                </div>
            </fieldset>
            </div>
            <div style="width: 160px;float: left;position:relative;">
            <fieldset>
            <legend><h3>Attributes:</h3></legend>
                <div id="chart-attributes" style="overflow: auto;height: 160px"></div>
            </fieldset>
            </div>
            <div>
                <fieldset>
                <legend><h3>Zoom:</h3></legend>
                    <div>
                        <div style="float: left; width: 60px;">Row:</div>
                        <select id="zoom_row" onchange="zoom_row()"></select>
                    </div>
                    <div>
                        <div style="float: left; width: 60px;">Column:</div>
                        <select id="zoom_column" onchange="zoom_column()"></select>
                    </div>
                </fieldset>
            </div>
            <div style="clear: left;">
                <fieldset>
                <legend><h3>Filter Algorithms:</h3></legend>
                    <form>
                        Algorithm's Threshold: <input type="number" id="threshold" name="threshold" value="0.1" style="width: 40px;"><br>
                        <input type="radio" name="auto-filter" id="filter3" value="1" checked>Random Forest Classifier
                        <br>
                        <input type="radio" name="auto-filter" id="filter1" value="2">Chi-Square Test
                        <br>
                        <input type="radio" name="auto-filter" id="filter2" value="3">Variance Threshold
                        <br>
                        <a href="#" id="automatic_filtering" class="button black" style="margin-top: 5px;margin-bottom: 5px;">Automatic Filter</a>
                    </form> 
                </fieldset>
            </div>
            <div id="star-plot"></div>
        </div>
        <div id="content">
            <svg id="scattermatrix" class="" height="1000" width="900" style="position:relative;"></svg>
        </div>
    </body>
    <script>
        // Global Variables
        var colors = d3.scale.category10();
        var data_file = "{{ data_file }}"
        var matrix_id = "#scattermatrix"
        var combobox_rows_id = "#zoom_row"
        var combobox_columns_id = "#zoom_column"
        var chart_attributes_id = "#chart-attributes"
        var star_plot_id = "#star-plot"
        var columns_mask = initialize_columns_mask()
        var selected_row = -1
        var selected_column = -1

        // Initialize Dynamic Content
        initialize_zoom_comboboxes()
        chart_scatter_matrix();
        chart_legends("#chart-legends");
        chart_attributes();

        // sketchy:
        //Data
        var data = [
                  [0.59,0.56,0.42,0.34],
                  [0.48,0.41,0.27,0.28],
                  [0.4,0.1,0.5,0.65]
                ];
        // TODO: integrar cores
        // TODO: fazer funcionar para ranges diferentes de [0, 1] (ou obrigar os dados de input a serme normalizados)
        // TODO: cada axis poder ter ranges diferentes
        // TODO: fazer funcionar com dados dinamicos
        // TODO: qd nada estiver selecionado: mostrar chart para todos os points
        // TODO: se houver selecao, mostrar apenas a selecao
        // TODO: passar styles para o CSS

        star_plot(data);
    </script>
</html>